In [ ]:
%%sql
-- Complex SQL statement with a CTE and a join
WITH recent_orders AS (
    SELECT customer_id, order_id, order_date
    FROM orders
    WHERE order_date > CURRENT_DATE - INTERVAL '30 days'
)
SELECT c.name, r.order_id, r.order_date
FROM customers c
JOIN recent_orders r ON c.customer_id = r.customer_id
ORDER BY r.order_date DESC;

In [ ]:
%%R
# Function in R that multiplies a number by its half
multiply_half <- function(x) {
  return(x * (x / 2))
}
multiply_half(10)

In [ ]:
```scala
// Function in Scala that multiplies a number by its half
object MathUtils {
  def multiplyHalf(x: Double): Double = x * (x / 2)
}
println(MathUtils.multiplyHalf(10))
```

In [ ]:
```julia
# Function in Julia that multiplies a number by its half
function multiply_half(x)
    return x * (x / 2)
end
println(multiply_half(10))
```